@page
@model LTKGMaster.Pages.Account.MySalesAdsModel
@{
}

@foreach(var salesAd in Model._salesAdList)
{
    <h3>@salesAd.Title</h3>
    <p>@salesAd._product.Description</p>
    <p>@salesAd.DateOfCreation</p>
    <p>@salesAd._product.Price</p>
    
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" value="@salesAd.ProdId" />
        <button type="submit">Slet annonce</button>
    </form>
}

