@page
@model LTKGMaster.Pages.SalesAds.SearchModel
@{
}
<div class="container">
        @if(Model.SearchResults.Count.Equals(0))
        {
            <h1>Der er ingen resultater for '@Model.SearchQuery'</h1>
        }
        else
        {
        <h1>Søgeresultater for '@Model.SearchQuery'</h1>
        <div class="grid-container">
        @foreach (var ad in Model.SearchResults)
        {
            <div class="ad-box mb-4">
                <div class="custom2-card">
                    <div class="custom2-card-body">
                        <h2>@ad.Title</h2>
                        <p>Created: @ad.DateOfCreation.ToString("dd-MM-yyyy")</p>
                        <div class="ad-images mb-3">
                            <div class="ad-image mb-3">
                                <img src="@ad.ProductPictures.First().ImageDataBase64String" class="img-fluid" alt="@ad.ProductPictures.First().FileName" />
                            </div>
                        </div>

                        <a class="btn btn-primary" asp-page="/SalesAds/ShowAd" asp-route-id="@ad.ProdId" asp-route-type="@ad.Product.Type">View Details</a>
                    </div>
                </div>
            </div>
        }
        </div>
        }
</div>
