@page
@model LTKGMaster.Pages.SalesAds.ShowAdModel
@{
}
<div class="ShowAd-Card">
    <div class="ShowAd-card-body">
        <h5 class="card-title">@Model.AdForShow.Title</h5>
        <p class="card-text"><small class="text-muted">@Model.AdForShow.Product.Price kr</small></p>
    </div>

    <div class="ShowAd-image-container">
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var picture in Model.AdForShow.ProductPictures)
                {
                    <div class="carousel-item @(Model.AdForShow.ProductPictures.First() == picture ? "active" : "")">
                        <img class="d-block w-100 ShowAd-img" src="@picture.ImageDataBase64String" alt="Product image">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="ShowAd-description-container accordion" id="productAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDescription">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    Produkt Beskrivelse
                </button>
            </h2>
            <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription" data-bs-parent="#productAccordion">
                <div class="accordion-body">
                    @Model.AdForShow.Product.Description
                </div>
            </div>
        </div>
    </div>
</div>
