@page
@using LTKGMaster.Models
@model LTKGMaster.Pages.Categories.ShowProductsModel
@{
}

@await Html.PartialAsync("_NavBarPartial", Model.ProductTypes)

<form>
    <div class="form-control">
        @foreach (var product in Model.Products)
        {
            <h3>@product.Title</h3>
            <p>@product.User.UserName</p>
            <p>@product.Product.Description</p>
            <p>@product.DateOfCreation</p>
            <p>@product.Product.Price</p>
        }
    </div>
</form>