@page
@model LTKGMaster.Pages.Categories.ShowLaptopModel
@{
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/ShowLaptop">Laptop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/ShowProduct1">Product1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/ShowProduct2">Product2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/ShowProduct3">Product3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/ShowProduct4">Product4</a>
        </li>
    </ul>
</nav>

<form>
    <div class="form-control">
        @foreach(var laptop in Model.laptops)
        {
            <h3>@laptop.Title</h3>
            <p>@laptop._user.UserName</p>
            <p>@laptop._product.Description</p>
            <p>@laptop.DateOfCreation</p>
            <p>@laptop._product.Price</p>

        }
    </div>
</form>