@page
@model IndexModel
@{
ViewData["Title"] = "Salgs Annoncer";
}

<div class="container">
    <div class="title-container text-center my-4">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="grid-container">
        @foreach (var ad in Model.SalesAds)
        {
            <div class="ad-box mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2>@ad.Title</h2>
                        <p>Created: @ad.DateOfCreation.ToString("dd-MM-yyyy")</p>
                        <p>Product ID: @ad.ProdId</p>

                        <div class="ad-images mb-3">
                            @foreach (var picture in ad.ProductPictures)
                            {
                                <div class="ad-image mb-3">
                                    <img src="@picture.ImageDataBase64String" class="img-fluid" alt="@picture.FileName" />
                                </div>
                            }
                        </div>

                        <a class="btn btn-primary" asp-page="/Categories/ShowLaptop" asp-route-id="@ad.ProdId">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
