@page
@model IndexModel
@{
ViewData["Title"] = "Salgs Annoncer";
}

<div class="container">
    <div class="title-container text-center my-4">
        <h1>@ViewData["Title"]</h1>
    </div>
      <div class="search-bar mb-4 text-center">
        <form method="get" asp-page-handler="Search">
            <input type="text" name="searchQuery" value="@Request.Query["searchQuery"]" placeholder="Search by title..." class="form-control" />
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </form>
    </div>
    <form method="get">
    <div class="grid-container">
        @foreach (var ad in Model.SalesAds)
        {
            <div class="ad-box mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2>@ad.Title</h2>
                        <p>Created: @ad.DateOfCreation.ToString("dd-MM-yyyy")</p>
                        <div class="ad-images mb-3">
                            <div class="ad-image mb-3">
                                <img src="@ad.ProductPictures.First().ImageDataBase64String" class="img-fluid" alt="@ad.ProductPictures.First().FileName" />
                            </div>
                        </div>

                        <a class="btn btn-primary" asp-page="/SalesAds/ShowAd" asp-route-id="@ad.ProdId" asp-route-type="@ad.Product.Type">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
    </form>
</div>

